
/*------------- KTUNAXA styles ---------------*/

/* Tooltip style: */
.canvasHover, .gridHover, .formHover {
    background-color: #E0E0E0;
    border: 3px solid #999999;
    color: black;
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    padding: 3px 5px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* Main map styles */
.mapLayout {
	background: #A0A0A0;
	padding: 5px 0px 5px 5px;
	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
}

/* LayerTree panel styles*/
.search_panel_buttons {
	background: #647386;
	padding: 4px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
}
.search_panel {
	background: #A0A0A0;
	padding: 0px 0px 8px 8px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
}
.search_panel_inner {
	padding: 5px 37px 5px 5px;
}

/* CloseableLayout */
.closeableLayout {
	background: #A0A0A0;
	padding: 5px 5px 5px 0px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
}
.closeableLayoutTitle {
	font-family: Arial,Verdana,sans-serif;
	color: #FFFFFF;
	font-weight:bold;
	font-size: 13px;
	line-height:24px;
	padding-left:10px;
}
.closeableLayoutPanel {
	margin-top: 5px;
}
.closeableLayoutVerticalTitle {
	font-family: Arial,Verdana,sans-serif;
	color: #FFFFFF;
	font-weight:bold;
	font-size: 13px;
	text-align: center;
	padding-top: 10px;
}




.sgwtTitle {
    font-family: Arial,Verdana,tahoma,serif;
    color: #454545;
    font-size: 18px;
    line-height: 32px;
	/*height: 1em;*/
	overflow: hidden;
}
.sgwtSubTitle {
    font-family: Arial,Verdana,tahoma,serif;
    color: #454545;
    font-size: 8px;
	height: 1.2em;
	line-height: 1.2em;
	overflow: hidden;
}


/*------------- ATTRIBUTE FORMS -------------*/

.attributeForm .formTitle, .attributeForm .formCell,
.attributeForm .formTitleFocused, .attributeForm .formCellFocused,
.attributeForm .formTitleError, .attributeForm .formCellError,
.attributeForm .formTitleDisabled, .attributeForm .formCellDisabled
{
	/* Style for the form TD's */
	padding: 3px 10px;
	border: 1px solid #EBEADB;
	border-right-color: #D5CDB5;

	background-color: #FFFFFF;
}
.attributeForm .formTitleError, .attributeForm .formCellError {
	/* Style title texts on the left side */
	font-weight: normal;
	color: #C00000;
}
.attributeForm .formTitleDisabled, .attributeForm .formCellDisabled {
	/* Style for the disabled forms */
	color: #000000;
}

.attributeForm .textItemDisabled, .attributeForm .selectItemTextDisabled,
.attributeForm .labelAnchorDisabled
{
	/* Style for the disabled forms */
	border: 0;
	padding-top: 4px;
	color: #000000;
}

.attributeForm .formCellError div {
	/* Style for error signs, when typing faulty data */
	border: 0;
	padding: 0;
}

.attributeForm table {
	/* General style for the form table */
	padding: 2px;
}



/*------------- SEARCH -------------*/

.searchHeader {
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
}

.searchRow {
	border-bottom: 1px solid lightgray;
	height: 32px;
	line-height: 32px;
}




/*------------- LOADING SCREEN -------------*/

.loadingScreenLabel {
	font-family: Arial,Verdana,tahoma,serif;
	font-weight: normal;
	font-size: 10px;
	color: #FFFFFF;
}