<!--
  ~ Ktunaxa Referral Management System.
  ~
  ~ Copyright (C) see version control system
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- We need 2 packages: shape reader and domain. -->
	<context:component-scan base-package="org.ktunaxa.referral.shapereader"
		name-generator="org.geomajas.spring.GeomajasBeanNameGenerator" />

	<context:annotation-config />

	<bean id="cmisConfig" class="org.ktunaxa.referral.server.service.CmisConfig">
		<property name="userName" value="admin" />
		<property name="password" value="sp@rklingH2O" />
		<property name="url" value="http://alfresco.geomajas.org/alfresco/" />
		<property name="urlBrowse" value="http://alfresco.geomajas.org/alfresco/" />
		<property name="repository" value="Main Repository" />
		<property name="folder" value="ktunaxa" />
	</bean>

	<bean name="shapeReaderService"
		class="org.ktunaxa.referral.shapereader.ShapeReaderServiceImpl">
		<property name="basePath" value="shapes" />
		<property name="labelAttributeMap">
			<map>
				<entry key="LandscapeUnits" value="LU_NAME" />
				<entry key="Municipalities" value="MUN_NAME" />
				<entry key="NativeCommunities" value="BAND_NAME" />
				<entry key="RegisteredTraplines" value="TRPLN_A_ID" />
				<entry key="WildlifeHabitatAreas" value="HAB_AR_ID" />
				<entry key="CoalFields" value="COALBED_ID" />
				<entry key="CoalTenures" value="TENURE_NO" />
				<entry key="DominionCoalBlocks" value="DOMINION_" />
				<entry key="NTS250K_Sheets" value="OBJECTID" />
				<entry key="TRIM20K_Sheets" value="OBJECTID" />
				<entry key="NTS_Cities" value="NAME" />
				<entry key="NTS_Contours" value="ELEV" />
				<entry key="NTS_Glaciers" value="FCODE" />
				<entry key="NTS_Lakes" value="BASE" />
				<entry key="NTS_Rivers" value="DLRIV_ID" />
				<entry key="NTS_Streams" value="FEATURECOD" />
				<entry key="NTS_Transportation" value="FEATURECOD" />
				<entry key="TRIM_Pipeline" value="FCODE" />
				<entry key="TRIM_TransmissionLine" value="CLASS" />
				<entry key="TRIM1_Contours" value="FCODE" />
			</map>
		</property>
		<property name="styleAttributeMap">
			<map>
				<entry key="LandscapeUnits" value="BEO" />
				<entry key="Municipalities" value="CODE" />
				<entry key="NativeCommunities" value="BAND_NAME" />
				<entry key="RegisteredTraplines" value="TRPLN_A_ID" />
				<entry key="WildlifeHabitatAreas" value="HAB_AR_ID" />
				<entry key="CoalFields" value="COALBED_ID" />
				<entry key="CoalTenures" value="TENURE_TYP" />
				<entry key="DominionCoalBlocks" value="DOMINION_" />
				<entry key="NTS250K_Sheets" value="OBJECTID" />
				<entry key="TRIM20K_Sheets" value="OBJECTID" />
				<entry key="NTS_Cities" value="POPULATION" />
				<entry key="NTS_Contours" value="ELEV" />
				<entry key="NTS_Glaciers" value="FCODE" />
				<entry key="NTS_Lakes" value="BASE" />
				<entry key="NTS_Rivers" value="DLRIV_ID" />
				<entry key="NTS_Streams" value="FEATURECOD" />
				<entry key="NTS_Transportation" value="TYPE" />
				<entry key="TRIM_Pipeline" value="FCODE" />
				<entry key="TRIM_TransmissionLine" value="CLASS" />
				<entry key="TRIM1_Contours" value="ELEVATION" />
			</map>
		</property>
	</bean>

</beans>