<!--
  ~ Ktunaxa Referral Management System.
  ~
  ~ Copyright (C) see version control system
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<web-app
    version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="
        http://java.sun.com/xml/ns/javaee 
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Geomajas application</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:org/geomajas/spring/geomajasContext.xml
			classpath:org/geomajas/plugin/rasterizing/DefaultCachedAndRasterizedPipelines.xml
			WEB-INF/applicationContext.xml
			WEB-INF/spring-hibernate.xml
			WEB-INF/bpm.xml
			WEB-INF/crs.xml
			WEB-INF/cmis.xml
			WEB-INF/security.xml
			WEB-INF/tools.xml
			WEB-INF/map*.xml
			WEB-INF/layer*.xml
			WEB-INF/geocoder.xml
			WEB-INF/mail.xml
		</param-value>
	</context-param>

	<filter>
	    <filter-name>CacheFilter</filter-name>
	    <filter-class>org.geomajas.servlet.CacheFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>/Ktunaxa/*</url-pattern>
	</filter-mapping>

	<listener>
 		<listener-class>org.geomajas.servlet.PrepareScanningContextListener</listener-class>
	</listener>

	<listener>
 		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
 		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<description>Spring Web-MVC specific (additional) context files.</description>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath*:META-INF/geomajasWebContext.xml
				WEB-INF/webContext.xml
			</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/d/*</url-pattern>
		<url-pattern>/Ktunaxa/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
